body {
  width: 70%;
  margin: auto;
}

header {
  color: #2ee8e1;
}

hr {
  color: #2ee8e1;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  color: white;
}

nav ul li {
  background-color: #f72e2e;
  margin: 10px;
  margin-left: 0px;
  padding: 7px;
  border: none;
  border-radius: 6px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

#search-bar-div label {
  display: block;
  color: orangered;
}

#search-bar-div {
  margin-bottom: 50px;
}

#search-bar {
  width: 60%;
  border: 2px solid #f72e2e;
  border-radius: 6px;
  padding: 9px;
}

#submit-bttn {
  height: 39px;
  width: 120px;
  background-color: #f72e2e;
  color: white;
  border: none;
  border-radius: 6px;
}