<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Webshop</title>
  <link rel="stylesheet" href="/styleFiltered.css" />
</head>
<body>
  <nav>
    <header>
      <div>
        <h1><a href="/webshop">My Webshop</a></h1>
        <h1><a href="/more-filters">More >></a></h1>
      </div>
      <hr>
    </header>
      <ul>
        <li><a href="/filter-by-type">CLOTHES AND SHOES</a></li>
        <li><a href="/cheapest-first">ELECTRONICS</a></li>
        <li><a href="/contains-nike">BEVERAGES AND SNACKS</a></li>
        <li><a href="/average-stock">EURO</a></li>
        <li><a href="/most-expensive">ORIGINAL CURRENCY</a></li>
      </ul>
  </nav>
  <main>
    <div id="search-bar-div">
      <form action="#" th:action="@{/search}" th:object="${searchTerm}" method="post">
        <label for="search-bar">Filter by price:</label>
        <input id="search-bar" type="text" name="searchTerm" placeholder="...e.g.: 300">
        <input id="submit-bttn-above" type="submit" value="Above" formmethod="post">
        <input id="submit-bttn-belove" type="submit" value="Below" formmethod="post">
        <input id="submit-bttn-exactly" type="submit" value="Exactly" formmethod="post">
      </form>
    </div>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of Stock</th>
      </tr>
      <tr th:each="item : ${items}">
        <td class="td-left" th:text="${item.getName()}"></td>
        <td class="td-left" th:text="${item.getDescription()}"></td>
        <td class="td-center" th:text="${item.getPrice()}"></td>
        <td class="td-center" th:text="${item.getQuantityOfStock()}"></td>
      </tr>
    </table>
  </main>
</body>
</html>