<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Webshop</title>
  <link rel="stylesheet" href="/styleWithoutTable.css" />
</head>
<body>
  <nav>
    <header>
      <div>
        <h1><a href="/webshop">My Webshop</a></h1>
        <h1><a href="/more-filters">More >></a></h1>
      </div>
      <hr>
    </header>
    <div>
      <ul>
        <li><a href="/only-available">Only available</a></li>
        <li><a href="/cheapest-first">Cheapest first</a></li>
        <li><a href="/contains-nike">Contains Nike</a></li>
        <li><a href="/average-stock">Average stock</a></li>
        <li><a href="/most-expensive">Most expensive available</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <div id="search-bar-div">
      <form action="#" th:action="@{/search}" th:object="${searchTerm}" method="post">
        <label for="search-bar">Search for:</label>
        <input id="search-bar" type="text" name="searchTerm" placeholder="...something like nike">
        <input id="submit-bttn" type="submit" value="Search" formmethod="post">
      </form>
    </div>
    <h1 th:text="${text}"></h1>
  </main>
</body>
</html>