<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Webshop</title>
  <link rel="stylesheet" href="/styleWithoutTable.css" />
</head>
<body>
  <nav>
    <header>
      <h1>My Webshop</h1>
      <hr>
    </header>
    <div>
      <ul>
        <li><a href="/only-available">Only available</a></li>
        <li><a href="/cheapest-first">Cheapest first</a></li>
        <li><a href="/contains-nike">Contains Nike</a></li>
        <li><a href="/average-stock">Average stock</a></li>
        <li><a href="/most-expensive">Most expensive available</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <h1 th:text="${text}"></h1>
  </main>
</body>
</html>